* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  background: #ecf0f3;
  font-size: 1.4rem;
}

.login-div {
  width: 25%;
  height: 75%;
  padding: 4rem 3.5rem 3.5rem 3.5rem;
  border-radius: 4rem;
  background: #ecf0fe;
  box-shadow: 1.3rem 1.3rem 2rem #cbced1, -1.3rem -1.3rem 2rem #fff;
  margin: 0 auto;
}

form img {
  width: 10rem;
  height: 10rem;
  position: absolute;
  margin: 0 auto;
  margin-left: 8.6rem;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 0.2rem #5f5f5f, 0 0 0 0.5rem #ecf0fe, 0.8rem 0.8rem 1.5rem #a7aaaf, -0.8rem -0.8rem 1.5rem #fff;
}

.logo {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 0.2rem #5f5f5f, 0 0 0 0.5rem #ecf0fe, 0.8rem 0.8rem 1.5rem #a7aaaf, -0.8rem -0.8rem 1.5rem #fff;
} 

.title {
  text-align: center;
  font-size: 2.8rem;
  padding-top: 2.4rem;
  letter-spacing: 0.05rem;
}

.sub-title {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 0.7rem;
  letter-spacing: 0.3rem;
}

.fields {
  width: 100%;
  padding: 2rem 0.5rem 0 0.5rem;
  height: 40%;
  border: none;
}

.fields input {
  border: none;
  outline: none;
  background: none;
  font-size: 1.8rem;
  color: #555;
  padding: 2rem 1rem 2rem 0.5rem;
  height: 2rem;
  width: 50%;
}

.username,
.password {
  margin-bottom: 3rem;
  border-radius: 2.5rem;
  box-shadow: inset 0.8rem 0.8rem 0.8rem #cbced1, inset -0.8rem -0.8rem 0.8rem #fff;
}

.fields svg {
  height: 2.2rem;
  margin: 1.3rem 1rem -0.3rem 2.5rem;
}

.signin-button {
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  height: 6rem;
  border-radius: 3rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-align: center;
  background-color: #24cfaa;
  box-shadow: 0.3rem 0.3rem 0.8prem #b1b1b1, -0.3rem -0.3rem 0.8rem #fff;
  transition: 0.5s;
}

.signin-button:hover {
  background: #2fdbb6;
}

.signin-button:active {
  background: #1da88a;
}

.link {
  padding-top: 2rem;
  text-align: center;
}

.link a {
  text-decoration: none;
  color: #aaa;
  font-size: 1.5rem;
}